/*Header nav*/

.info-section {
    background-color: #b69fdf;
    padding: 5px 0;
    text-align: center;
    text-align: center;
  }
  
  .info-section p {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .info-section .contact-info {
    font-weight: bold;
    color: #333;
  }