/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  overflow: hidden;
  background-color:white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  align-content: center;
  font-size: 20px;

}


.bazaar_logo {
  max-width: 100px;
  height: auto;
}

.Navlinks {
  display: flex;
  gap: 25px;
  align-items: center;
}

.Navlinks a {
  color: #131212;
  text-decoration: none;
  transition: color 0.3s ease;
}

.Navlinks a:hover {
  color: #ffc107; /* Change to your preferred hover color */
}

.nav-item.active a {
  color: #ffc107; /* Change to your preferred active color */
}

.cart-container {
  display: flex;
  align-items: center;
}

/* Responsive styles for medium screens */
@media only screen and (max-width: 768px) {
  .navbar {
      padding: 10px;
  }

  .Navlinks {
      display: none;
  }

  .cart-container {
      flex: 1;
      justify-content: flex-end;
  }
}

/* Responsive styles for small screens */
@media only screen and (max-width: 576px) {
  .navbar-container {
      flex-direction: column;
      align-items: stretch;
  }

  .Navlinks {
      flex-direction: column;
      gap: 10px;
      display: ${({ isOpen }) => (isOpen ? 'flex' : 'none')};
  }

  .nav-item.active {
      background-color: #ffc107; /* Change to your preferred active background color */
      border-radius: 5px;
  }

  .cart-container {
      order: -1; /* Move cart container to the top */
  }
}
