{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'css/Admin.css' %}">
</head>
<body>
    <header id="admin-header">
        <div>
            <h1>Hello {{ user.username }}</h1>
        </div>
        
        <div class="admin-links">
            <a href="{% url 'admin_view_products' %}">View All Products</a>
            <a href="{% url 'admin_view_orders' %}">View All Orders</a>
            <a href="{% url 'search' %}">View All Payments</a>
            <a href="{% url 'logout_view' %}" id="logout">Logout</a>
            <!-- Add more links as needed -->
        </div>
       
    </header>


    <div class="main-content">
        {% block content %}
        <div class="admin-home">
            <h1>Profile</h1>
            <strong>Username: </strong>{{ user.username }}
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.surname }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Address:</strong> {{ user.address }}</p>
            <p><strong>National ID:</strong> {{ user.national_id }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
            <a href="{% url 'search' %}">Edit Profile</a>
            
        </div>
        {% endblock %}
    </div>
</body>
</html>
