{% extends 'admin.html' %}
{% block title %}Admin View Orders{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/Admin.css' %}">

<h1 class="admin-all-aoders">All Orders</h1>
<table class="order-table">
    <thead>
        <tr>
            <th>Invoive Number</th>
            <th>Buyer</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.invoice_number }}</td>
            <td>{{ order.user.first_name }} {{ order.user.surname }}</td>
            <td>${{ order.total_price }}</td>
            <td><a href="{% url 'admin_order_details' order.id %}" class="btn btn-primary">View Details</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No orders found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
