{% extends 'admin.html' %}

{%load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">

<div class="product-container">
    <div class="product-card">
        <div class="product-image-container">
            <img src="{{ product.image.url }}" class="product-image" alt="Product Image">
        </div>
        <div class="product-details-container">
            <h5 class="product-brand">Brand: {{ product.brand }}</h5>
            <p class="product-price">Price: SH.{{ product.price }}</p>
            <p class="product-price">vendor: {{ product.vendor }}</p>
            <p class="product-price">Available: {{ product.quantity }}</p>
            <p class="product-description"> Description: {{ product.description }}</p>

            </div>
            
            
        </div>
    </div>
</div>

{% endblock %}
