<!-- vendor_info.html -->
{% extends 'loginsignup_basefile.html'%}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Buyer Information</title>
    <link rel="stylesheet" href="{% static 'css/Vendor.css' %}">

</head>
<body>
    <div class="ven-container">
        <h1>Buyer Information</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
{% endblock %}
