{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Cart.css' %}">
<div>
    <!-- Shipping Details Form -->
    <form method="POST" action="{% url 'checkout_process' %}">
        {% csrf_token %}
        <label for="full_name">Full Name:</label>
        <input type="text" id="full_name" name="full_name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br><br>

        <button type="submit">Submit</button>
    </form>
</div>
<!-- Header -->
<header id="cart-header">
    <div class="container">
        <div class="header-content">
            <h1 class="cart-title">Cart Summary</h1>
        </div>
    </div>
</header>
<div class="container cart-container">
  <div class="cart_cont">

    {% if cart_products %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>

                </tr>
            </thead>
            <tbody>
                {% for product in cart_products %}
                    <tr>
                        <td><img src="{{ product.image.url }}" alt="{{ product.name }}"></td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.category }}</td>
                        <td>${{ product.price }}</td>
                        <td>
                            <div class="row justify-content-center">
                                            <div>
                                            <div  id="select{{product.id}}">
                                              
                                        {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                        <option selected>{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}                                                       
                            
                                            </div>
                                            </div>
                                        </div>
                        </td>
                       
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
        <div >
          <h3 class="cart-total">Total: ${{ totals }}</h3>
          <a href="{% url 'create_payment'%}">Proceed to Checkout</a>

        </div>
       
    {% else %}
        <div class="empty-cart">You Have no Products to checkout...</div>
    {% endif %}
</div>

    
{% endblock %}


